*.log
*.txt
*.properties
*.pack
*.exe
*.jar
*.bat

frontend/build
frontend/node_modules
frontend/public
frontend/src/test

donator-market-docker/backend/backend_anonymousUser/LOG_PATH_IS_UNDEFINED
donator-market-docker/backend/backend_anonymousUser/item
donator-market-docker/backend/backend_anonymousUser/gradle
donator-market-docker/backend/backend_anonymousUser/build
donator-market-docker/backend/backend_anonymousUser/build.gradle
donator-market-docker/backend/backend_anonymousUser/*.txt

donator-market-docker/backend/backend_donator/LOG_PATH_IS_UNDEFINED
donator-market-docker/backend/backend_donator/item
donator-market-docker/backend/backend_donator/gradle
donator-market-docker/backend/backend_donator/build
donator-market-docker/backend/backend_donator/build.gradle
donator-market-docker/backend/backend_donator/*.txt

donator-market-docker/backend/backend_donatee/LOG_PATH_IS_UNDEFINED
donator-market-docker/backend/backend_donatee/item
donator-market-docker/backend/backend_donatee/gradle
donator-market-docker/backend/backend_donatee/build
donator-market-docker/backend/backend_donatee/build.gradle
donator-market-docker/backend/backend_donatee/*.txt


donator-market-docker/backend/backend_manager/LOG_PATH_IS_UNDEFINED
donator-market-docker/backend/backend_manager/item
donator-market-docker/backend/backend_manager/gradle
donator-market-docker/backend/backend_manager/build
donator-market-docker/backend/backend_manager/build.gradle
donator-market-docker/backend/backend_manager/*.txt

donator-market-docker/backend/item