<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!--    <link rel="stylesheet" href="/resources/demos/style.css">-->
<!--    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<!--    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

    var questionId;
        $(document).ready(function(){

        });

        function calculateTotalPrice(){
            var count = $("#count").val();
        }

         function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var url2= "/offer";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);


            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("구매가 완료 되었습니다.");
                    location.href='/';
                    $.ajax({
                url      : url2,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("판매가 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.statusText);
                    }

                }
            });
        }



        function offer(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url2 = "/offer";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);


            $.ajax({
                url      : url2,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("판매가 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.statusText);
                    }

                }
            });
        }


        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                                        console.log(jqXHR);
                        alert(jqXHR.statusText);
                    }

                }
            });
        }

        function registerQuestion(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/registerQuestion";
            var itemId = $("#itemId");
            console.log("item id : ", itemId);
            var itemId = $("#itemId").val();
            var paramData = {
                questionInput : $("#questionInput").val(),
                itemId : itemId
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("질문이 등록되었습니다.");
                    $("#questionInput").val('');
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('[Unauthorized] 로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else if(jqXHR.statusText == 'parsererror') {
                        alert(' 로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                    console.log(jqXHR);
                        alert(jqXHR.statusText);
                        $(".answer-1").val('');
                    }

                }
            }).done(function(fragment) {
                var myJSON = JSON.stringify(fragment);
                var obj = JSON.parse(myJSON);

<!--        답변 버튼-->
                var answerFormButton = '<input type="button" id="answerFormButton" value="답변" class="btn-1 answerFormBtn">'
<!--        답변 입력 폼    -->
                var answerForm = '<textarea id="answerInput" placeholder=" 답변을 입력하세요." rows="5" cols="100" class="answer-1" style="display:none"></textarea><br>';
 <!--        답변 등록 버튼    -->
                var registerAnswerButton = '<input type="button" id="registerAnswer" value="등록" class="btn-3" style="display:none">';

                var answerTable = "";
                var questionTable = "";
                questionTable += "<tbody class='tbody-1'>"
                               + "<tr><td style='font-weight:bold'>"
                              + obj.questionEmail + "</td></tr> <tr><td style='font-weight:100'>"
                              + obj.regTime + "</td></tr> <tr><td>"
                              + obj.questionInput + "</td></tr> <tr><td>"
                              + answerFormButton + "</td></tr> <tr><td>"
                              + answerForm + "</td></tr> <tr><td>"
                              + registerAnswerButton + "</td></tr> <tr><td>"
                              +  answerTable + "</td></tr>"
                              +  "<tr><td style='border-bottom: 1px solid; opacity:0.3'></td></tr></tbody>";

                $(".table-1").append(questionTable);

            });
        }

        function registerAnswer(qid){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var url = "/registerAnswer";
            var questionId = qid;
            var itemId = $("#itemId").val();
            var paramData = {
                answerInput : $("#aid").val(),
                questionId : questionId,
                itemId : itemId
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("답변이 등록되었습니다.");
                    $(".answer-1").val('');
                },
                error : function(jqXHR, status, error){
                console.log("status", status)
                    if(jqXHR.status == '401'){
                        alert('[Unauthorized] 로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else if(jqXHR.status == '403') {
                        alert('[FORBIDDEN] 답변 권한이 없습니다.');
                        $(".answer-1").val('');
                    } else if(jqXHR.statusText == 'parsererror') {
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else if(jqXHR.statusText == 'error') {
                        alert('답변 권한이 없습니다.');
                        $(".answer-1").val('');
                    } else{
                    alert(jqXHR.statusText);
                    }

                }
            }).done(function(fragment) {
                var myJSON = JSON.stringify(fragment);
                var obj = JSON.parse(myJSON);
                console.log("fragment", fragment);
                console.log("obj : ", obj);

                var answerTable = "";
                     answerTable += "<tr><td style='border-top: 1px solid; opacity:0.1; font-weight:bold; padding-left:50px'> <span STYLE='font-size:20px; font-weight:bold'>↳ </span>"
                                 +obj.answerEmail + "</td></tr> <tr><td style='font-weight:100; padding-left:60px'>"
                                 + obj.regTime + "</td></tr> <tr><td style='padding-left:60px'>"
                                 + obj.answerInput + "</td></tr> "
                                 +  "<tr><td style='border-bottom: 1px solid; opacity:0.3'></td></tr>";

                $("#qid_"+fragment.questionId).parent().append(answerTable);
                //답변창 숨김
                $("#aid").parent().parent().next().remove();// 등록버튼 tr
                $("#aid").parent().parent().remove();       // textarea tr
            });
        }

<!--            '답변' 버튼 클릭시 답변 버튼 밑에 답변 입력 폼이 뜬다.-->
                // $(document).on("click", "#answerFormButton", function() {
                $(document).on("click", ".answerFormBtn", function() {
                    // 기존 답변창 삭제
                    $("#aid").parent().parent().next().remove();// 등록버튼 tr
                    $("#aid").parent().parent().remove();       // textarea tr
                    // 새 답변창 + 등록버튼 생성
                    var textArea = '<tr><td><textarea id="aid" placeholder=" 답변을 입력하세요." rows="5" cols="100" class="answer-1"></textarea><br></td></tr>'
                                   +'<tr><td><input type="button" id="registerAnswer" value="등록" class="btn-3"></td></tr>';
                    $(this).parent().parent().after(textArea);

                    var index = $(".btn-1").index(this);
                })


<!--            질문입력 폼 밑에 '등록' 버튼을 누르면 질문이 insert 되야 함-->
                $(document).on("click", "#registerQuestion", function() {
                    registerQuestion();
                })

<!--            답변입력 폼 밑에 [등록] 버튼을 누르면 질문이 insert 되야 함 -->
                $(document).on("click", ".btn-3", function() {
                     var index = $(".btn-3").index(this);
                    var qid = $("input[name=registerAnswer]:eq("+ index +")").attr('id');

                    registerAnswer(qid);
                })


<!--            질문 답변 페이지 구현            -->
                $(function() {

                <!--        [답변] 버튼-->
                    var answerFormButton = '<input type="button" id="answerFormButton" value="답변" class="btn-1 answerFormBtn">'

                    var questionTable = "";
                     var answerTable = "";
                     var qid = 0;
                     var aid = 0;

                    //controller에서 받은 json을 파싱한다.
                     var qnaPage = [[${qnaPage}]];
                     var qnaPageJson = JSON.parse(qnaPage);


                    $.each(qnaPageJson.answerPage, function(key, value) {


                    //depth가 0인 질문일 때의 list 출력
                    if(value.answerDepth == 0) {
                            questionTable +=  " <tr class='question' id='qid_" + value.answerId + "' ><td style='font-weight:bold'>"
                                    + value.answerEmail + "</td></tr> <tr><td style='font-weight:100'>"
                                    + value.answerRegTime + "</td></tr> <tr><td>"
                                     + value.answerContent + "</td></tr> <tr><td id='qid'>"
                                     + answerFormButton + "</td></tr>"
                                    // + '<textarea id="aid" placeholder=" 답변을 입력하세요." rows="5" cols="100" class="answer-1" style="display:none"></textarea><br>'
                                     + "<tr><td>"
                                     + '<input type="button" id="' + value.answerId + '" name="registerAnswer" value="등록" class="btn-3" style="display:none">' + "</td></tr>"
                                     + "<tr><td style='border-bottom: 1px solid; opacity:0.3'></td></tr>";

                    //depth가 1인 해당 질문의 답변일 때의 list 출력
                    }else if(value.answerDepth == 1){
                            questionTable +=  " <tr> <td style=' font-weight:bold; padding-left:50px'>"
                                        +  "  <span STYLE='font-size:20px; font-weight:bold'>↳ </span>"
                                        +  value.answerEmail + "</td></tr> <tr><td style='font-weight:100; padding-left:60px'>"
                                        + value.answerRegTime + "</td></tr> <tr><td style='padding-left:60px'>"
                                        + value.answerContent + "</td></tr> "
                                        +  "<tr><td style='border-bottom: 1px solid; opacity:0.3'></td></tr>" ;


                    }
                    $(".table-1").html(questionTable);

                        qid = qid + 1;
                        aid = aid + 1;

                     });

                })


    </script>


</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            padding:20px;
            margin-right:25px;
            height:350px;
            width:300px;
        }
        .repImg{
            width:100%;
            height:350px;
        }
        .wd50{
            padding:5px;
            height:auto;
            width:65%;
        }

        .table-1 {
            border-collapse: separate;
            border-spacing: 0 5px;
            width : 100%;
            margin-left: auto;
            margin-right: auto;
            border-top : 1px solid;
        }

        .tbody-1 {
            border-bottom : 1px solid;
            display:block;
        }

        .tbody-2 {
            border-bottom : 1px solid;
            display:block;
        }

        .questionForm, .list{
            text-align: center;
            margin: 20px;
        }

        tr, td{
            text-align: left;
            width : 900px;
        }

        .answer-1, .question-1 {
            border: solid 2px;
            border-radius: 15px;
            text-align: left;
        }

        .btn-1 {
            background-color: white;
            color: black;
            border: none;
            text-decoration:underline;
        }

        .btn-2 {
            background-color: white;
            color: black;
            border: none;
            align: right;
            margin-left: 650px;
        }

        .btn-3 {
            background-color: white;
            color: black;
            border: none;
            align: right;
            margin-left: 650px;
        }


    </style>
</th:block>

<div layout:fragment="content" style="width:970px; margin:auto">

    <input type="hidden" id="itemId" th:value="${item.id}">

    <div class="d-flex" style="height:350px;">
        <div class="repImgDiv" >
            <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
        </div>
        <div class="wd50">
            <span th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge badge-primary mgb-15">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="badge btn-danger mgb-15" >
                품절
            </span>
            <div class="h4" th:text="${item.itemNm}"></div>
            <hr class="my-4">

            <div class="wd50">
                <div class="h4" th:text="${item.stockNumber}"></div>
                <hr class="my-4">
            </div>

            <div class="text-right">

                <div class="input-group w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text">구매수량</span>
                    </div>
                    <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                </div>
            </div>
            <hr class="my-4">


            <div th:if="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
                <button type="button" class="btn btn-primary btn-lg" onclick="order();">주문하기</button>
            </div>
            <div th:unless="${item.itemSellStatus == T(com.shop.constant.ItemSellStatus).SELL}" class="text-right">
                <button type="button" class="btn btn-danger btn-lg">품절</button>
            </div>
        </div>
    </div>

    <div class="jumbotron jumbotron-fluid mgt-30" style="margin:40px 10px 40px 10px">
        <div class="container">
            <h4 class="display-5">상품 상세 설명</h4>
            <hr class="my-4">
            <p class="lead" th:text="${item.itemDetail}"></p>
        </div>
    </div>

<!--    <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">-->
<!--        <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">-->
<!--    </div>-->


    <!--질문입력-->
    <div class="questionForm" >
        <textarea id="questionInput" placeholder=" 질문을 입력하세요." rows="5" cols="100" class="question-1"></textarea><br>
        <input type="button" id="registerQuestion" value="등록" class="btn-2">
        <div id="answerForm">
        </div>
    </div>

    <div class="replace"></div>

    <div class="list" >
        <table class="table-1">
            <tbody class='tbody-1'>
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${1 == answerPageList.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{'/item/' +${item.id}+ '?page=' +${answerPageList.pageable.pageNumber-1}}"
                       tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li class="page-item" th:classappend="${i == answerPageList.pageable.pageNumber + 1} ? 'disabled'"
                    th:each="i : ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" href="#" th:href="@{'/item/' +${item.id}+ '?page=' +${i-1}}" th:text="${i}">1</a>
                </li>
                <li class="page-item" th:classappend="${answerPageList.totalPages == answerPageList.pageable.pageNumber + 1} ? 'disabled'">
                    <a class="page-link" href="#" th:href="@{'/item/' +${item.id}+ '?page=' +${answerPageList.pageable.pageNumber+1}}">Next</a>
                </li>
            </ul>
        </nav>

    </div>



</div>

</html>

